
p {
  font-size: 1.5em;
  color: #ffffff;
  background-image: url("file:///C:/Users/Sarah/desktop/Moringa/Resort-project/MillionaireResort.jpeg");
  background-color: transparent;
}

div {
  background-image:
      url("MillionaireResort.jpeg");
    }

.bar {
  width: 30%;
  float: right;
  background-color: teal;
}
