p {
  font-size: 1.5em;
  color: #ffffff;
  background-image: url("file:///C:/Users/Sarah/desktop/Moringa/Resort-project/MillionaireResort.jpeg");
  background-color: transparent;
}

div {
  background-image:
      url("MillionaireResort.jpeg");
      /* Container holding the image and the text */
      .container {
          position: relative;
      }

      /* Bottom right text */
      .text-block {
          position: absolute;
          bottom: 20px;
          right: 20px;
          background-color: black;
          color: white;
          padding-left: 20px;
          padding-right: 20px;
      }
